:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  margin: 10px;
  border: 1px solid lightgray;
  height: 200px;
  width: 200px;

  img {
    height: 100%;
    width: 100%;
  }
}

.not-found {
  font-weight: bold;
  color: ghostwhite;
}
