:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgContainer {
  margin: 5px;
  position: relative;
  border: 1px solid lightgray;
  height: 200px;
  width: 200px;

  img {
    height: 100%;
    width: 100%;
  }
}
