<h3>Form Group</h3>
<form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
  <label>
    Input text:
    <input formControlName="searchString" (keyup)="filterSwearWords()" />
  </label>

  <button type="submit">Search</button>
</form>
<p>> {{ searchForm.value.searchString }}</p>

<h3>Form Control</h3>
<label>
  Input text:
  <input [formControl]="inputText" />
</label>
<p>> {{ inputText.value }}</p>
<div *ngIf="inputText.errors && inputText.errors.minlength">
  Name must be at least 4 characters long.
</div>
