:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 100%;
}

h1 {
  color: gold;
}

.form-container {
  display: flex;
  justify-content: space-evenly;

  input {
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
  }

  button {
    background-color: dodgerblue;
    border: none;
    color: ghostwhite;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    outline: none;
    padding: 0;
    text-transform: uppercase;
    width: 15%;

    &:active {
      background-color: darkblue;
    }
  }
}

.search-info {
  color: darkmagenta;
}

.search-errors {
  color: darkred;
  margin-top: 0;
  text-transform: capitalize;

  h4 {
    margin: 0;
  }
}
