<p class="search-info">
  Introduce a seach term and click on Search button or press Enter key
</p>

<form
  class="form-container"
  [formGroup]="searchForm"
  (ngSubmit)="submitSearch()"
>
  <input
    placeholder="Introduce a search term"
    formControlName="searchString"
    (keyup)="filterSwearWords()"
  />
  <button type="submit">Search</button>
</form>

<div
  class="search-errors"
  *ngIf="searchErrors.searchString && searchErrors.searchString.invalid"
>
  <h4>Input search errors</h4>
  <ul>
    <li *ngFor="let err of searchErrors.searchString.errors | keyvalue">
      {{ err.key }}
    </li>
  </ul>
</div>
